@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


:root {
  --background-color: #f4f4f4;
  --primary-color: #ff6f61;
  --secondary-color: #333;
  --tertiary-color: #555;
  --card-shadow: rgba(0, 0, 0, 0.2);  
  --card-hover-shadow: rgba(0, 0, 0, 0.4); 
}

